In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib3
import csv
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle #洗牌
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
%matplotlib inline

In [3]:
df = pd.read_csv('student-mat.csv',sep=';')  
select_df = pd.DataFrame(df)
print(select_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
7       GP   F   17       U     GT3       A     4     4     other   teacher
8       GP   M   15       U     LE3       A     3     2  services     other
9       GP   M   15       U     GT3       T     3     4     other     other
10      GP   F   15       U     GT3       T     4     4   teacher    health
11      GP   F   15       U     GT3       T     2     1  services     other
12      GP   M   15       U     LE3       T     4     4    health  services
13      GP   M   15       U     GT3       T     4     3   teacher     other
14      GP   M   15       U     GT3       A     2     2     other     other
15      GP   F   16       U     GT3       T     4     4    health     other
16      GP   F   16       U     GT3       T     4     4  services  services
17      GP   F   16       U     GT3       T     3     3     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
19      GP   M   16       U     LE3       T     4     3    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
21      GP   M   15       U     GT3       T     4     4    health    health
22      GP   M   16       U     LE3       T     4     2   teacher     other
23      GP   M   16       U     LE3       T     2     2     other     other
24      GP   F   15       R     GT3       T     2     4  services    health
25      GP   F   16       U     GT3       T     2     2  services  services
26      GP   M   15       U     GT3       T     2     2     other     other
27      GP   M   15       U     GT3       T     4     2    health  services
28      GP   M   16       U     LE3       A     3     4  services     other
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   at_home     other
366     MS   M   18       U     LE3       T     4     4   teacher  services
367     MS   F   17       R     GT3       T     1     1     other  services
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
371     MS   M   18       R     LE3       T     1     2   at_home  services
372     MS   F   17       U     GT3       T     2     2     other   at_home
373     MS   F   17       R     GT3       T     1     2     other     other
374     MS   F   18       R     LE3       T     4     4     other     other
375     MS   F   18       R     GT3       T     1     1     other     other
376     MS   F   20       U     GT3       T     4     2    health     other
377     MS   F   18       R     LE3       T     4     4   teacher  services
378     MS   F   18       U     GT3       T     3     3     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
381     MS   M   18       R     GT3       T     2     1     other     other
382     MS   M   17       U     GT3       T     2     3     other  services
383     MS   M   19       R     GT3       T     1     1     other  services
384     MS   M   18       R     GT3       T     4     2     other     other
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

    ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0   ...      4        3      4     1     1      3        6   5   6   6
1   ...      5        3      3     1     1      3        4   5   5   6
2   ...      4        3      2     2     3      3       10   7   8  10
3   ...      3        2      2     1     1      5        2  15  14  15
4   ...      4        3      2     1     2      5        4   6  10  10
5   ...      5        4      2     1     2      5       10  15  15  15
6   ...      4        4      4     1     1      3        0  12  12  11
7   ...      4        1      4     1     1      1        6   6   5   6
8   ...      4        2      2     1     1      1        0  16  18  19
9   ...      5        5      1     1     1      5        0  14  15  15
10  ...      3        3      3     1     2      2        0  10   8   9
11  ...      5        2      2     1     1      4        4  10  12  12
12  ...      4        3      3     1     3      5        2  14  14  14
13  ...      5        4      3     1     2      3        2  10  10  11
14  ...      4        5      2     1     1      3        0  14  16  16
15  ...      4        4      4     1     2      2        4  14  14  14
16  ...      3        2      3     1     2      2        6  13  14  14
17  ...      5        3      2     1     1      4        4   8  10  10
18  ...      5        5      5     2     4      5       16   6   5   5
19  ...      3        1      3     1     3      5        4   8  10  10
20  ...      4        4      1     1     1      1        0  13  14  15
21  ...      5        4      2     1     1      5        0  12  15  15
22  ...      4        5      1     1     3      5        2  15  15  16
23  ...      5        4      4     2     4      5        0  13  13  12
24  ...      4        3      2     1     1      5        2  10   9   8
25  ...      1        2      2     1     3      5       14   6   9   8
26  ...      4        2      2     1     2      5        2  12  12  11
27  ...      2        2      4     2     4      1        4  15  16  15
28  ...      5        3      3     1     1      5        4  11  11  11
29  ...      4        4      5     5     5      5       16  10  12  11
..  ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
365 ...      3        3      4     2     4      3        4  10  10  10
366 ...      4        2      2     2     2      5        0  13  13  13
367 ...      5        2      1     1     2      1        0   7   6   0
368 ...      5        2      3     1     2      4        0  11  10  10
369 ...      3        2      2     4     2      5       10  14  12  11
370 ...      3        2      2     1     1      3        4   7   7   9
371 ...      4        3      3     2     3      3        3  14  12  12
372 ...      3        4      3     1     1      3        8  13  11  11
373 ...      3        5      5     1     3      1       14   6   5   5
374 ...      5        4      4     1     1      1        0  19  18  19
375 ...      4        3      2     1     2      4        2   8   8  10
376 ...      5        4      3     1     1      3        4  15  14  15
377 ...      5        4      3     3     4      2        4   8   9  10
378 ...      4        1      3     1     2      1        0  15  15  15
379 ...      4        5      4     2     3      1       17  10  10  10
380 ...      3        2      4     1     4      2        4  15  14  14
381 ...      4        4      3     1     3      5        5   7   6   7
382 ...      4        4      3     1     1      3        2  11  11  10
383 ...      4        3      2     1     3      5        0   6   5   0
384 ...      5        4      3     4     3      3       14   6   5   5
385 ...      5        3      3     1     3      4        2  10   9  10
386 ...      4        4      3     2     2      5        7   6   5   6
387 ...      5        4      2     1     2      5        0   7   5   0
388 ...      4        3      4     1     1      1        0   7   9   8
389 ...      1        1      1     1     1      5        0   6   5   0
390 ...      5        5      4     4     5      4       11   9   9   9
391 ...      2        4      5     3     4      2        3  14  16  16
392 ...      5        5      3     3     3      3        3  10   8   7
393 ...      4        4      1     3     4      5        0  11  12  10
394 ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

In [4]:
select_df['school'] = select_df['school'].str.replace('GP','5')
select_df['school'] = select_df['school'].str.replace('MS','10')
select_df['sex'] = select_df['sex'].str.replace('F','5')
select_df['sex'] = select_df['sex'].str.replace('M','10')
select_df['address'] = select_df['address'].str.replace('U','5')
select_df['address'] = select_df['address'].str.replace('R','10')
select_df['famsize'] = select_df['famsize'].str.replace('LE3','5')
select_df['famsize'] = select_df['famsize'].str.replace('GT3','10')
select_df['Pstatus'] = select_df['Pstatus'].str.replace('T','5')
select_df['Pstatus'] = select_df['Pstatus'].str.replace('A','10')
select_df['schoolsup'] = select_df['schoolsup'].str.replace('no','5')
select_df['schoolsup'] = select_df['schoolsup'].str.replace('yes','10')
select_df['famsup'] = select_df['famsup'].str.replace('no','5')
select_df['famsup'] = select_df['famsup'].str.replace('yes','10')
select_df['paid'] = select_df['paid'].str.replace('no','5')
select_df['paid'] = select_df['paid'].str.replace('yes','10')
select_df['activities'] = select_df['activities'].str.replace('no','5')
select_df['activities'] = select_df['activities'].str.replace('yes','10')
select_df['nursery'] = select_df['nursery'].str.replace('no','5')
select_df['nursery'] = select_df['nursery'].str.replace('yes','10')
select_df['higher'] = select_df['higher'].str.replace('no','5')
select_df['higher'] = select_df['higher'].str.replace('yes','10')
select_df['internet'] = select_df['internet'].str.replace('no','5')
select_df['internet'] = select_df['internet'].str.replace('yes','10')
select_df['romantic'] = select_df['romantic'].str.replace('no','5')
select_df['romantic'] = select_df['romantic'].str.replace('yes','10')
#print(select_df)

In [5]:
select_df = shuffle(select_df)
x = select_df.drop('G3',axis =1)[['school','sex','address','famsize','Pstatus','schoolsup','famsup','paid','activities',
                                  'nursery','higher','internet','romantic','age','Medu','Fedu','traveltime','studytime',
                                  'failures','famrel','freetime','goout','Dalc','Walc','health','absences','G1','G2']]
num_x = select_df.drop('G3',axis =1)[['age','Medu','Fedu','traveltime','studytime','failures','famrel',
                                      'freetime','goout','Dalc','Walc','health','absences','G1','G2']]
bin_x = select_df.drop('G3',axis =1)[['school','sex','address','famsize','Pstatus','schoolsup','famsup','paid','activities',
                                  'nursery','higher','internet','romantic']]
y = select_df['G3'].values.reshape(-1,1)

#print(y)

In [6]:
def build_tree(feature,target):
    tree = DecisionTreeClassifier()
    tree.fit(feature, target)
    return tree

In [7]:
def HoldoutValidation(feature,target):
    x_train,x_test,y_train,y_test=train_test_split(feature,target,random_state=123, train_size=0.7,test_size = 0.3)  
    return x_train,x_test,y_train,y_test
    #train_test_split(feature,target, train_size=0.7,test_size = 0.3)
    

x1_train,x1_test,y1_train,y1_test=HoldoutValidation(num_x,y)
#print(x_train,y_train)
tree=build_tree(x1_train,y1_train)
print(tree.score(x1_test,y1_test)) 
print(tree.predict(x1_test))

0.44537815126050423
[10  8 11  0 11 15  7  9 11  0  0 10  6 14 10  0  9 15  9 12 14  9 10 13
 13  0 11 10  9 10  0 15 11 11  8 10 15  0  8 15  0  8 12 13 10 12 11  0
 15  0 10  0 18 14  8 11  9 15 15 15 12 13 12 11 15  7 15 12 10 15 10 13
 13 12 10 16 14 19 10  5 11 12 12 10  8 15 16 12 11 11 12 12  9 11 15 14
  7 12  8 11 11  6  0 13 15  8 10 16  0 10 15  0  7 13 18 10 11  0  8]

In [8]:
def K_fold(feature,target,k=3):
    kf = KFold(n_splits=k, shuffle=True)
    tmp=0
    for train_index, test_index in kf.split(feature):
        x_train, x_test = feature.iloc[train_index], feature.iloc[test_index]
        y_train, y_test = target[train_index], target[test_index]

        tree = build_tree(x_train,y_train)
        tmp +=tree.score(x_test,y_test)
    tmp/=k
    print('Percentage of the average accurate model:',tmp)   
        
K_fold(num_x,y)

Percentage of the average accurate model: 0.39480684709692343

In [9]:
#RandomForest
def RandomForest(x,y):
    forest = RandomForestClassifier(criterion='entropy',n_estimators=100)
    forest.fit(x,y)
    return forest
    
x_train,x_test,y_train,y_test = HoldoutValidation(num_x,y)     
forest = RandomForest(x_train,y_train)
print(forest.score(x_test,y_test))

0.4369747899159664

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [10]:
#KNN
accurate_rate = [0,0,0,0,0,0,0,0,0,0]

def KNN(x,y,i): # ,test_feature,test_target
    x_train,x_test,y_train,y_test =HoldoutValidation(x,y)
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    accurate_rate[i]=knn.score(x_test,y_test)
    print(knn.predict(x_test))
def Scaler(x):
    scaler = StandardScaler()
    scaler.fit(x)
    scaler_feature=scaler.transform(x)
    scaler_x = pd.DataFrame(scaler_feature,columns=x.columns)
    #print(scaler_x)
    
    return scaler_x
    

scaler_x= Scaler(num_x)
for i in range(3,10):
    KNN(scaler_x,y,i)
    print('k=',i,':',accurate_rate[i])

D:\Anaconda\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  del sys.path[0]
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys

[10  8 10  8 10 11 11  8  8  0  6  8  6 13 11  0  0 12  9  0 15  8  9 13
 11  9  8 11 11  0 10 13 11  6  9 10 11  0  0 12  0  0 12 12  8  8 10  0
 12  8 11  7 16 13  6 12  9 11 11 11 12 12 10 11 15  7 14 11  8 12  9 11
 13 11 10 10 11 18  0  8 11 12 11  8  8 12 15 10  9 11 11 14 10 11 16 11
  6 14  7 11 11 10  6 11 10  8 11 14  0 10 11  6  6 10 16  8  6  0  8]
k= 3 : 0.21008403361344538
[10  8 10  8 10 11 10  8 12  0  0 11  6 13 11  0  0 14  9 12 15  8 13 13
 11  8  0 11 11  0 10 15 11 11  9 10 11  0  0 12  0  0 11 12  8 11 10  0
  0  6 10  8 16 13  6 10  9 11 14 11 11 12 12 11 15  7 14 11  0 12  0 11
 13 11 10 10 11 18  0  8 11 11 14  8  6 12 15 10  9  9 11 14 10 11 14 11
  6 14  7 11 11 10  6 11 10 11 11 12  0 10 10  6 10 14 16  8 11  0  0]
k= 4 : 0.2605042016806723
[10  8 10 10 10 11  9  8  8  0  0 11  6 13 13  0  0 14  9 12 15  8 10 13
  6  8  0 11 11  0 10 15 11 11  9 10 15  0  0 12  0  0 11  8  8 11 10 11
  0  6 10  8 15 11 10 10  9 12 14 11 10 12 12 11 15  7 14 11  8 19 11 11
 10 11 13 10 10 18  0  8 11 15 14  8  8 12 15  6  9  9 11 14 11 11 13 11
  8 14  8 11 11 10  6 11 10 11  9 12  0 10 10  6  8 14 15  8 11  0  0]
k= 5 : 0.226890756302521
[10  8 10 10 10 11 11  8  8  0  6 11  6 13 13  0 10 12 10 12 11  8 10 13
 15  0 12 11 11  0 10 15 11 11  9 10 15  0  0 12  0  0 11  5  8 11 10 11
  0  6 10  8 15 11 10  0  9 12 14 11 10 12 12 11 15  7 14 11  8 19  9 11
 10 11 10 18 10 18  9  0 11 15 14 10  8 13 15  6  9  9 11 14 11 11 11 11
  6 11  8 11 11 10  6 11 10 11 11 14  0 10 12  6  8 14 15  8 11  0  0]
k= 6 : 0.19327731092436976
[10  8 10 10 10 11 11 11  8 10  6 11  6 13 13  0 10 12 10 11 11  8 10 13
 15 11 12 11 11  0 10 15 11 11  9 10 15  0  0 14  0  0 11 15  8 11 10 10
 14  6 10  8 15 11 10 10  9 12 14 11  9 12 12 11 15  7 14 11  8 19  9 11
 10 11 10 11 10 18  9  8 11 15 10 10  8 13 13 11  9  9 11 14 11 11 11 10
  6 11  8 11 11 10  6 15 10 11 11 14  0 10 12  6  6 10 15 10 11  0  0]
k= 7 : 0.19327731092436976
[10  8 10 10 10 11 10 10  8 10  6 11  6 14 13  0 10 12 10 11 11  8 10 13
 13 11 12 11 11 14  0 11 11 11  9 10 15  0  0 14  0  0 12 15  8 11 10 10
 14  6 10  8 15 11 10 10 11 12 14 11  8 12 12 13 15  8 14 11  8 14  9 11
 10 11 10 11 11 18  0  8 11 15 10 10  8 13 13 11  9 11  9 14 11 11 14 11
  6 11  8 11 11 10  6 15 10 11 11 14  0 10 12  6  6 10 15 10 11  0  0]
k= 8 : 0.21008403361344538
[10  8 10 10 10 11 10 10  8 10  6 11  6 14 13  0 10 12 10  0 11  8 10 13
 13 11 12 11 11 13  0 15 11 11  9 10 15  0  0 14  0 10 12 15 10  8 10 10
 14  6 10  8 15 11 10 10 11 12 14 11 14 12 12 13 15  8 14 11  8 14  9 11
 10 11 13 11 10 16  0  8 11 11 10 10  8 13 15 11  9 11  9 15 11 11 14 11
  6 11  8 11 11 10  6 15 10 11 11 11  0 10 12  6  6 10 15 10 11  0  0]
k= 9 : 0.226890756302521

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys

In [11]:
x1_train,x1_test,y1_train,y1_test=HoldoutValidation(bin_x,y)
#print(x_train,y_train)
tree=build_tree(x1_train,y1_train)
print(tree.score(x1_test,y1_test))

0.10084033613445378

In [12]:
K_fold(num_x,y)

Percentage of the average accurate model: 0.34177654406662045

In [13]:
x_train,x_test,y_train,y_test = HoldoutValidation(bin_x,y)     
forest = RandomForest(x_train,y_train)
print(forest.score(x_test,y_test))

0.07563025210084033

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [14]:
scaler_x= Scaler(bin_x)
for i in range(3,10):
    KNN(scaler_x,y,i)
    print('k=',i,':',accurate_rate[i])

D:\Anaconda\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  del sys.path[0]

[11 10  8 11  6  6  6  8  9  5 15 10  6  0  0  6  8 11 10  9  8  8  0 15
  6 11 10  8 10 15  7  9  8  8  9 11 10 10  0  8  0  7 12  8  6  6  0  0
  6 16 13  6  8 11 10 11  8 11  0  8 11  0 10 15 11 10  6 10  0  6  8  6
 15 18 10 12  6 13  9 13  9 15  6  0 10  7 13 10  9  8  0 15  8 10  9  6
  8 17  8 16 11  9  0 11 12  9 12  8  0  9 13  9  0  8 10  0  8  0 10]
k= 3 : 0.1092436974789916
[11 10  0 11  6  6 11  8  9  5 15 10  6 11  0  6  0 11 10 16  8  0 15 13
 16 11 10  0 10 13  7  9  6 10  8 11 10 10  0  8  0  7 12  8  6 13  0  0
  8 16  0 16  8 11 10 11  0 11  0  0 11  0 11 15 11 10  6 10  0  6  0  6
 15 18 10  5  6  0 14  0  9 15  6  0 10  9  0 16 14 11  0 13 11 10 14  6
  8 11  8 16 11  9  0 11  5  9 12  8 11  9 13  9  0  8 16  0  0  0 10]
k= 4 : 0.12605042016806722
[11  8 11 11  6 11 11 15  9  5 15  7  6 11  0  6  0 11 10 16  8  0 15 13
 16 11 10 11 10 13 10 12  6 10  8 11 10 10  0  8  0  7  8  8  6 13  0  0
  8 16  0 16 10 11 10 11  0 11 10  0 11  0 10 15 11 10  0 10  0 13  0  0
 15 18 10  5  0  0 14  0  9 15  6  0 10  9  0 16 14 11  0 13 11 10 14  6
 10  8  8 16 11  7  0 11  5  9 15  8 11  7 13  0 12 15 16  0  0  0 10]
k= 5 : 0.11764705882352941
[11 10 11 11 11 11  8 15  9  5 15  7  6 11  0  6  0 11 10 11 11  0 15 11
 16 11 10 11 10 11 10 12  6 10  8 11  0 10 15  8  0  7  8  8  0 13  0  0
  8 16  0 16 10 11 10 11  0 11 10  0 11  0 10 15 11 10  0  0  0 13  0  0
 15 11 13  5  0  0 14  0  9 15  6  0 10  9  0 16 14 11  0 11 11 10 14  6
 10  8  8 16 11  7  0 11  5 11 15 13 11  7 13 14  0 15 16  0  0  0 10]
k= 6 : 0.11764705882352941
[11  8 15 11  8 11  6 15  9  0 13  0  6 11  0  6 14 11 10 11 11 14 15 13
  6 11 10 15 10 13 10  9  6 10 14 11 10 10 15  8  0 10  8  8 13 13  0  0
  8 16  0  6 10 11 10 11 14 11 10  0 11  0 10 15 11 10  0 10  0 13 14 11
 15 11 13 18  0  0 14  0  9 15  6  0 10  9  0 13 14 11  0 13 11 10 14  6
 10  8  8 16 11  6  0 11 18 11 15 10 11  6 13 14  0 15 13  0 14  0 10]
k= 7 : 0.1092436974789916
[11  8 15 11  8 11  6 15  9  0 13 13 10 11  0  6 11 11 10 11 11 11 15 13
  6 11 10 15  8 13 10  9  6 10 14 11 10 10  0  8  0 10 12  8 11 13  0  0
  8 16  8  6 10 11 10 13 11  6 10  0 11  0 10 15 11 10  9 10  8 13 11 11
 15 11 10 16  9  8 14  8  9 15 14  0 10  9  8 10 14 11 13 13 11 10 14  6
 10  8  8 16 11 11  0 13 16 11 15 10 11 11 13  9  0 15 10  0 11  0 13]
k= 8 : 0.14285714285714285
[11  8 15 11 11 11 11 15  9 14 13 13 10  0  0  6 11 11 15 11 11 11 15 13
  6 11 15 15 11 13 10  9  8 10 14 11 10 10  0  8  0 10  8  8 11 13  0  0
  8 16  8  6 10 11 10 13 11 11 13 11 11 13 11 15 11 11  9 10  8 13 11  0
 15 11 13 16  9  8 10  8  9 15 14  0 10  9  8 10 10 11 13 13 11 10 10  6
 10 15  8 16 11  6  0 13 16 11 13 10  0  6 13  9  0 15 10  0 11  0 11]
k= 9 : 0.11764705882352941

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys